<head>
	<meta charset="utf-8">
	<meta name="viewport" width="device-width, initial-scale=1.0">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Thiago Holleben">
	<!-- favicon
	<link rel="shortcut icon" href="/img/ico/favicon.png">
	-->
	<title>{{ page.title }} | Thiago Holleben | Grad Student</title>		
	<!-- styles -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/jumbotron-narrow.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<script type="text/x-mathjax-config">
  		MathJax.Hub.Config({
    		TeX: {extensions: ["extpfeil.js"]}
  			});
	</script>
	<script src="js/p5.js"></script>
    <!-- <script src="js/global.js"></script> -->
    <!-- <script src='js/metric.js'></script> -->
    <!-- <script src="js/point.js"></script> -->
    <!-- <script src='js/system.js'></script> -->
    <!-- <script src="js/events.js"></script> -->
	<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
  <script src="../../assets/js/html5shiv.js"></script>
  <script src="../../assets/js/respond.min.js"></script>
	<![endif]-->
</head>
